
/**
 * @provides aphront-tokenizer-control-css
 * @requires aphront-typeahead-control-css
 * @requires phui-tag-view-css
 */

body div.jx-tokenizer {
  background: transparent;
  position: relative;
  width: 100%;
  overflow: hidden;
}

body div.jx-tokenizer-container {
  position: relative;
  display: block;
  padding: 0 0 2px 0;
  min-height: 30px;
  height: auto;
}

var.jx-tokenizer-metrics {
  position: absolute;
  left: 20px;
  top: 20px;
}

body input.jx-tokenizer-input {
  border: 1px solid transparent;
  border-width: 1px 0px;
  padding: 3px;
  outline: none;
  float: left;
  width: 100%;
  border-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 13px;
  color: #333;
  height: 26px;
  background: transparent;
}

body input.jx-tokenizer-input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent;
}

body input.jx-typeahead-placeholder {
  margin-left: 4px;
  color: #74777D;
}

a.jx-tokenizer-x {
  margin-left: 4px;
  color: #6B748C;
  float: right;
}

a.jx-tokenizer-x:hover {
  color: #464C5C;
  text-decoration: none;
}

a.jx-tokenizer-token {
  padding: 1px 6px;
  border:  1px solid #BFCFDA;
  margin: 3px 2px 0 4px;
  background-color: #dee7f8;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  color: #464c5c;
  min-height: 16px;
}

a.jx-tokenizer-token:hover {
  text-decoration: none;
  border-color: #a7b5bf;
}

.jx-tokenizer-token .phui-icon-view {
  display: inline-block;
  margin: 2px 4px -3px 0;
  color: #6b748c;
}

a.jx-tokenizer-token-function {
  border-color: #e3e4e8;
  background: #fff;
}

a.jx-tokenizer-token-function:hover {
  background: #fff;
}

a.jx-tokenizer-token-disabled {
  background-color: #f3f3f3;
  border-color: #e5e5e5;
  color: #a6a6a6;
}

a.jx-tokenizer-token-disabled:hover {
  border-color: #cbcbcb;
  background-color: #f3f3f3;
}

.jx-tokenizer-token-disabled .phui-icon-view {
  color: #bababa;
}

a.jx-tokenizer-token-invalid {
  border-color: #efcfcf;
  background: #f7e6e6;
  color: #a53737;
}

a.jx-tokenizer-token-invalid:hover {
  border-color: #d1abab;
  background: #f7e6e6;
}

.jx-tokenizer-token-invalid .phui-icon-view {
  color: #c85a5a;
}

.tokenizer-result {
  position: relative;
  padding: 5px 8px 5px 28px;
}

.tokenizer-result .phui-icon-view {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 8px;
}

.tokenizer-result-closed {
  color: #74777D;
}

.tokenizer-closed {
  margin-top: 2px;
}

.jx-tokenizer-frame .button.tokenizer-browse-button {
  display: none;
}

.jx-tokenizer-frame.has-browse .button.tokenizer-browse-button {
  display: block;
}

.jx-tokenizer-frame.has-browse {
  position: relative;
}

.jx-tokenizer-frame.has-browse div.jx-tokenizer-container {
  padding-right: 32px;
}

.button.tokenizer-browse-button {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 0;
  width: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button.tokenizer-browse-button .phui-icon-view {
  top: 7px;
  left: 9px;
  position: absolute;
}


/**
 * @provides aphront-typeahead-control-css
 */

div.jx-typeahead-hardpoint {
  position: relative;
  _zoom: 1; /* Some kind of IE6 fix? */ /* yes */ /* why? */ /* still need? */
}

div.jx-typeahead-results {
  position: absolute;
  border: 1px solid #DDE8EF;
  border-top: 0px;
  padding: 0;
  background: #fff;
  width: 98%;
  box-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
  margin: -1px 1% 0;
}

.aphront-form-control-typeahead div.jx-typeahead-results {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

div.jx-typeahead-results a.jx-result {
  color: #4B4D51;
  display: block;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.jx-typeahead-results a.jx-result + a.jx-result {
  border-top: 1px solid #DDE8EF;
}

div.jx-typeahead-results a.jx-result:hover,
div.jx-typeahead-results a.focused {
  display: block;
  background: #eceff5;
  text-decoration: none;
}

div.jx-typeahead-results .phui-icon-view {
  margin-top: 2px;
}

table.jx-typeahead button {
  margin-left: 3px;
}

table.jx-typeahead input {
  font-size: 13px;
  padding: 2px;
}

input.jx-typeahead-placeholder {
  color: #92969D;
}

div.jx-tokenizer-container-focused.jx-typeahead-waiting {
  border-color: #BFCFDA;
}

div.jx-typeahead-results a.diffusion-locate-file {
  padding: 4px 8px;
  color: #4B4D51
}

.diffusion-locate-file strong {
  color: #e62f17;
  text-decoration: underline;
}

.diffusion-locate-file .phui-icon-view {
  padding-right: 8px;
}
